.main-body {
  background-image: url("resources/imagination-background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

.logo {
  background-image: url("resources/logo.svg");
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "SF-Pro";
  src: url("fonts/SFPRODISPLAYREGULAR.OTF");
}

/* @font-face {
  font-family: "Quicksand";
  src: url("fonts/Quicksand-Medium.ttf");
}

@font-face {
  font-family: "Honey";
  src: url("fonts/Quicksand-Medium.ttf");
} */

* {
  font-family: "SF-Pro";
}

.title2 {
  font-family: "Honey";
}

/* HEADER */

/* Custom Apple-like styles for the navbar */
.apple-navbar {
  background-color: transparent;
  /* Set background to transparent */
  border-bottom: none;
  /* Remove the border */

}

.navbar-toggler {
  color: white;
}

.navbar-toggler-icon {
  color: white;
}

.navbar-brand {
  color: white;
  /* Brand text color */
  font-weight: bold;
  /* Brand font weight */
}

.navbar-nav .nav-link {
  color: white;
  /* Nav links color */
}

.navbar-nav .nav-link:hover {
  color: white;
  /* Hover color for nav links */
}



.dropdown-item {
  color: white;
  /* Dropdown item text color */
}

.dropdown-item:hover {
  color: white;
  /* Hover color for dropdown items */
}


/* HEADER */

.social-icon-link {
  text-decoration: none;
  color: white;
}

.copyrigt {
  text-decoration: none;
  color: white;
}

.copyrigt:hover {
  color: rgb(119, 253, 2);
}

/* For screens smaller than 768px (typical mobile devices) */
.description-img {
  max-width: 50%;
  border-radius: 50px;
  box-shadow: 0 5px 16px rgba(10, 10, 10, 10);
  /* Adjust values as needed */
}

.add-img {
  max-width: 50%;
  /* Adjust values as needed */
}

.custom-file-input {
  display: none;
}

.custom-file-label {
  cursor: pointer;
}

.modal{
  color: black;
}

.back-button{
  width: 100px;
}

/* .home-page-butoon{
  width: 195px;
} */